@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html{
    display: grid;
    min-height: 100%;
}
body{
    display: grid;
    background:#E0C9CB;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif
}
.container{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 480px;
    height: 380px;
    background: #F5F5F5;
    box-shadow: 5px 5px 15px (#BA7E7E, .5);
    border-radius: 10px;
}
p {
    font-size: .8em;
    color: #BA7E7E;
    letter-spacing: 3px;
}
h1{
    font-size: 1.2em;
    color:#4E4E4E;
    margin-top: -5px;
}
h2{
    color:#C3A1A0;
    margin-top: -5px;
}
img{
    width: 300px;
    
}
.product{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
}
.desc{
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4E4E4E;
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
}
.buttons{
    margin-top: 80px;
}
button{
    background: #E0C9CB;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#F5F5F5;
    cursor: pointer;
}
button:hover {
    background: #BA7E7E;
    transition: all .4s ease-in-out;
}
.add{
    width: 67%;
}
.like{
    width: 22%;
}
.sizes{
    display: grid;
    color:#D9AAB7;
    grid-template-columns: repeat(auto-fill, 30px);
    width: 60%;
    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px; 
}
.sizes:hover{
    cursor: pointer
}
.pick{
    margin-bottom: 0;
    margin-left: 20px;
}
.size{
    padding: 7px;
    border: 1px solid #E0C9CB;
    font-size: 0.8em;
    text-align: center;
}
.size:hover{
    background:#BA7E7e;
    color:#F5F5F5;
    transition: all .4s ease-in-out;
}
.focus{
    background:#BA7E7e ;
    color: #F5F5F5;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .8em;
    text-transform: uppercase;
    padding: 10px;
}
footer p{
    letter-spacing: 3px;
}






